@{
    ViewData["Title"] = "About";
}
<div id="missionStatement" class="jumbotron">
    “Art takes many forms and has an infinite number of outcomes” this quote hung in my class room for many years and is now displayed in my studio. I am totally fascinated by and committed to the medium of clay. In the past, I was more interested in producing sculpture, but more recently I have been making functional ware. To use, touch, and interact with unique and beautiful handmade objects in everyday life reaffirms our humanity, lifestyle, history and culture."
</div>
<div class="col-md-8" id="aboutContent">
    <div>Stephanie Miller-Davis is a retired art teacher who now runs her own ceramic studio in Orange Village OH. She creates her own functional pottery as well as offering instruction to both children and adults. </div><br />

    <div>She has recently shown her work in several local galleries including Hts Arts, Fiddlehead, Kent State’s Downtown Gallery, and Lakeland Community College Gallery. She has also shown her work at Art by the Falls, Cain Park and the Butler Institute of American Art’s holiday sale in Youngstown.</div><br/>

    <div>She teaches part time at Hawkin School, the Cleveland Institute of Art and the Orange Art Center.</div>


    </div>
